
<!DOCTYPE html>
<html lang="en" ng-app='myapp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rough Draft New Portfolio Site</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

    <!-- css needs to be moved to separate file -->

    <style>
        body {
            /*background-image: url('../../Desktop/my_portfolio/jpabico.github.io/images/thinker.jpg');*/
        }

        .main {
            width: 95%;
        }

        #jon {
            font-size: 30px;
            text-align: center;
        }

        #title {
            font-size: 15px;
        }

        #instructions {
            font-size: 12px;
            color: green;
            text-align: center;
        }

        .col-md-6 {
            /*border: solid blue;*/
            height: 90%;
            padding: 10px;
        }

        .col-md-4 {
            /*border:solid pink;*/
            /*height: 90%;*/
            margin-top: 25px;
        }

        .thumbnails  .row {
            /*border: solid yellow; */
            margin: 0 auto;
       }

    /*   .thumbnail {
            margin: auto;
       }*/

         .col-md-8 {
            /*border:solid red;*/
            padding: 25px;
            margin-top: 25px;
        }

        .col-md-12 {
            border:solid green;
            padding: 15px;
            margin: 30px;
        }

        .main-pic {
            /*border: solid purple;*/
            width: auto;
        }

        .container img {
            width: 100%;
            height: auto;
        }

        .myheading {
            /*border: solid orange;*/
        }

    </style>
    <!-- css needs to be moved to separate file -->

  </head>
  <body ng-controller='BigController as big'>
    <div class='container'>
        <div class="row main">
          
          <!-- start of left_hand column -->
          <div class="col-md-8">

                <!-- screenshot of active app -->
                <div class='main-pic'>
                    <img id='peaches' ng-src='{{big.getAppImage(2)}}' />
                </div>

                <!-- tabs and descriptions -->
               <div class="row main">
                    <div class="col-md-12">
                        

                        <!-- <div role="tabpanel" ng-controller='TabBoxController as tabBox'> -->
                              <!-- Nav tabs -->
                              <!-- <h2>Hello {{helloTo.title}}</h2> -->
                              <!-- <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation">
                                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab" ng-click="tabBox.setTab(1)">Description</a>
                                </li>
                                <li role="presentation">
                                    <a href="#features" aria-controls="features" role="tab" data-toggle="tab" ng-click='tabBox.setTab(2)'>Features</a>
                                </li>
                                <li role="presentation">
                                    <a href="#technology" aria-controls="technology" role="tab" data-toggle="tab" ng-click='tabBox.setTab(5)'>Technology</a>
                                </li>
                              </ul> -->
                              <!-- Tab panes -->
                            
                              <!-- <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" id="description" ng-show='tab===4'><p>This is the Description box</p></div>
                                <div role="tabpanel" class="tab-pane" id="features" ng-show='tab===5'><p>This is the Features box</p></div>
                                <div role="tabpanel" class="tab-pane" id="technology" ng-show='tab===6'><p>This is the Technology box</p></div>
                              </div> -->

                        <!-- </div> -->

tabby - start
<section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active: panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Home</a>
        </li>

        <li role="presentation" ng-class="{active: panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Profile</a>
        </li>

        <li role="presentation" ng-class="{active: panel.isSelected(3) }">
            <a href ng-click="panel.selectTab(3)">Messages</a>
        </li>
    </ul>
{{tab}}
    <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Tab 1 Description</h4>
        <p>paragraph for tab 1!</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Tab 2 Things</h4>
        <p>paragraph for tab 2!</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Tab 3 Stuff</h4>
        <p>paragraph for tab 3!</p>
    </div>
</section>
tabby - end


                    </div>
                </div>

          </div>
          <!-- end of left-hand column -->

          <!-- start of right-hand column -->
          <div class="col-md-4">

                <!-- name and heading -->
                <div class='myheading'>
                    <h1 id='jon'>
                        Jon Pabico
                        <footer id='title'>Full-Stack Web Developer</footer>
                    </h1>
                        <h2 id='instructions'>Click on a thumbnail for more info</h2>
                </div>

                    <!-- thumbnails for each app -->
                <div class='thumbnails' ng-controller='GalleryController as gallery'>

                    <div class="row main">
                        <div class="col-md-6"><img id='peaches' ng-src="{{big.getAppImage(0)}}" />img1</div>
                        <div class="col-md-6"><img id='peaches' ng-src="{{big.getAppImage(1)}}" />img2</div>
                    </div>
                    <div class="row main">
                        <div class="col-md-6"><img id='peaches' ng-src= "{{big.getAppImage(2)}}"/>img3</div>
                        <div class="col-md-6"><img id='peaches' ng-src="{{big.getAppImage(3)}}" />img4</div>
                    </div>
                    <div class="row main">
                        <div class="col-md-6"><img id='peaches' ng-src="{{big.getAppImage(4)}}" />img5</div>
                        <div class="col-md-6"><img id='peaches' ng-src="{{big.getAppImage(5)}}" />img6</div>
                    </div>

                   
                         

                </div>

          </div>
          <!-- end of right-hand column -->

        </div>
    </div>



<!-- Angular module -->
<script>
var app = angular.module("myapp", [])
    
    app.controller("BigController", function($scope) {
        this.stuff = myAppsInfo;

        this.getAppImage = function(appIndex) {
            return this.stuff[appIndex].images[0];
        };
    });

    app.controller("PanelController", function($scope) {
        this.tab = 1;

        this.selectTab = function(setTab) {
            this.tab = setTab;
        };

        this.isSelected = function(checkTab) {
            return this.tab === checkTab
        };

    } );
    
    app.controller("GalleryController", function($scope) {
        this.verycurrent = 0;
        this.setVeryCurrent = function(pickThisApp) {
            this.veryCurrent = pickThisApp || 0;
        };
    });

    var myAppsInfo = [
        {
            name: "quest", 
            images: ['../../Desktop/my_portfolio/jpabico.github.io/images/quest_pic.jpg']
        }, 
        {
            name: "jury", 
            images: ['../../Desktop/my_portfolio/jpabico.github.io/images/jury_landing_page.jpg']
        },
        {
            name: "letterstream", 
            images: ['../../Desktop/my_portfolio/jpabico.github.io/images/letterstream_pic.jpg']
        },
        {
            name: "tumblr-clone", 
            images: ['../../Desktop/my_portfolio/jpabico.github.io/images/tumblr-clone-dbc.jpg']
        },
        {
            name: "connect-4", 
            images: ['../../Desktop/my_portfolio/jpabico.github.io/images/connect-4.jpg']
        },
        {
            name: "snoopy3", 
            images: ['../../pabicode/jpabico.github.io/images/snoopy3.jpg']
        }
    ];

</script>



  </body>
</html>