
<!DOCTYPE html>
<html lang="en" ng-app='myapp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rough Draft New Portfolio Site</title>

    <!-- layout.css file -->
    <link rel="stylesheet" type="text/css" href="layout.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

  </head>
  <body ng-controller='BigController as big'>

    <div class='container'>
        <div class="row main">
          
          <!-- start of left-hand column -->
          <div class="col-md-8">

                <!-- screenshot of active app -->
                <div class='main-pic-container'>
                    <div class='main-pic'>
                        <img id='peaches' ng-src='{{big.getAppImage(big.appClickNum)}}' />
                    </div>
                </div>

                <!--start of tabs and descriptions inside left-hand column-->
               <div class="row main">
                    <div class="col-md-12">

                    <!-- link to active app -->
                    <div class='visitme'>
                        <h2 class='visitors'>
                            <a href="{{big.getAppUrl(big.appClickNum)}}">
                                <p>{{big.getAppName(big.appClickNum)}}</p>
                            </a>
                        </h2>
                    </div>

                    <!-- tabs and panes -->
                    <section ng-controller="PanelController as panel">
                        <!-- tabs -->
                        <ul class="nav nav-pills">
                            <li role="presentation" ng-class="{active: panel.isSelected(1) }">
                                <a href ng-click="panel.selectTab(1)">Description</a>
                            </li>
                            <li role="presentation" ng-class="{active: panel.isSelected(2) }">
                                <a href ng-click="panel.selectTab(2)">Features</a>
                            </li>
                            <li role="presentation" ng-class="{active: panel.isSelected(3) }">
                                <a href ng-click="panel.selectTab(3)">Technology</a>
                            </li>
                        </ul>
                        <br/>
                        <!-- panes -->
                        <div class="panel" ng-show="panel.isSelected(1)">
                            <p>{{big.getAppDescription(big.appClickNum)}}</p>
                        </div>
                        <div class="panel" ng-show="panel.isSelected(2)">
                            <p>{{big.getAppFeatures(big.appClickNum)}}</p>
                        </div>
                        <div class="panel" ng-show="panel.isSelected(3)">
                            <p>{{big.getAppTechnology(big.appClickNum)}}</p>
                        </div>
                    </section>

                    </div>
                </div>
                <!--end of tabs and descriptions inside left-hand column-->

          </div>
          <!-- end of left-hand column -->

          <!-- start of right-hand column -->
          <div class="col-md-4">

                <!-- name and heading -->
                <div class='myheading'>
                    <h1 id='jon'>
                        Jon Pabico
                        <footer id='title'>Full-Stack Web Developer</footer>
                        <footer id='cv'><a href="cv/">CV / Resume / Contact Info</a></footer>
                    </h1>
                    <h2 id='instructions'>Click on a thumbnail for more info</h2>
                </div>

                <!-- thumbnails for each app -->
                <div class='thumbnails' ng-controller='GalleryController as gallery'>
                    <div class="row main" >
                        <div class="col-md-6" ng-click="big.appClickNum = 0"><img id='peaches' ng-src="{{big.getAppImage(0)}}" />img1</div>
                        <div class="col-md-6" ng-click="big.appClickNum = 1"><img id='peaches' ng-src="{{big.getAppImage(1)}}" />img2</div>
                    </div>

                    <div class="row main">
                        <div class="col-md-6" ng-click="big.appClickNum = 2"><img id='peaches' ng-src= "{{big.getAppImage(2)}}"/>img3</div>
                        <div class="col-md-6" ng-click="big.appClickNum = 3"><img id='peaches' ng-src="{{big.getAppImage(3)}}" />img4</div>
                    </div>

                    <div class="row main">
                        <div class="col-md-6" ng-click="big.appClickNum = 4"><img id='peaches' ng-src="{{big.getAppImage(4)}}" />img5</div>
                        <div class="col-md-6" ng-click="big.appClickNum = 5"><img id='peaches' ng-src="{{big.getAppImage(5)}}" />img6</div>
                    </div>
                </div>

          </div>
          <!-- end of right-hand column -->

        </div>
    </div>

    <!-- Angular module -->
    <script type="text/javascript" src='app.js'></script>

  </body>
</html>

<!-- things to do -->

<!-- highlight currently active app in gallery -->
<!-- background color or image -->
<!-- fix size of tab panels (by height?) -->
<!-- refactor controllers ...some things are not categorized properly -->
<!-- make sure all images are the same size -->
<!-- contact section should have link to resume  -->
<!-- move data (myAppsInfo) to firebase ...reference angular course-->
<!-- host on firebase or github? -->
