html body {
            background-image: url('../../../Desktop/piano_b_w.jpg');
            /*background:  antiquewhite;*/
        }

        .main {
            width: 95%;
        }

        #jon {
            text-align: center;
        }

        #jon a {
            font-size: 48px;
            text-align: center;
            text-decoration: none;
            color:antiquewhite;
            font-family: 'Droid Sans', serif;
            font-size: 48px;
            text-shadow: 4px 4px 4px #aaa;
        }

        #jon:hover {
            color: black;            
            text-decoration: none;
        }

        #title {
            font-size: 20px;
            text-decoration: none;
        }

        #cv {
            font-size: 15px;
            text-decoration: none;
        }

        #instructions {
            font-size: 25px;
            color: antiquewhite;
            text-align: center;
        }


        /*temporarily removed div inside yellow*/
/*
        .col-md-5 {
            border: solid blue;
            height: 90%;
            padding: 10px;
            background-color:white;
        }*/

        .col-md-3 {
            border:solid antiquewhite;
            border-radius: 10px;
            margin-top: 25px;
            margin-left: 10px;
            /*LightSkyBlue*/
            /*background-color: #87CEFA;*/
            /*background-color: #E0FFFF;*/
            /*background-color: #000028;*/
            /*background-color: ;*/
            color: antiquewhite;
            /*brown*/
            /*background-color: #3D2914;*/
            /*opacity: 0.5;*/
            /*background-color: #000025;*/
        }

        .thumbnails  .row {
            /*border: solid yellow; */
            margin: 10px auto;
            /*padding: 10px;*/
            /*background-color:white;*/
            text-align:center;
       }

         .col-md-8 {
            border:solid antiquewhite;
            border-radius: 10px;
            padding: 25px;
            margin-top: 25px;
            /*LightSkyBlue*/
            /*background-color: #87CEFA;*/
            /*background-color: #FFFFF0;*/
            /*background-color: #000028;*/
            /*background-color: #000025;*/
            /*opacity: 0.8;*/
        }

        .col-md-12 {
            /*border:solid navy;*/
            border-radius: 10px;
            /*border-width: 5px;*/
            padding: 15px;
            margin: 30px;
            /*background-color: grey;*/
        }

        .main-pic-container {
            /*border: solid black;*/
            /*height: 80%;*/
        }

        .main-pic {
            border: solid #000030;
            border-radius: 10px;
            border-width: 10px;
            /*border-width: 8px;*/
            width: auto;
        }

        .container img {
            width: 100%;
            height: auto;
        }

       /* .myheading {
            border: solid orange;
        }
*/
        h2.visitors {
            text-align: center;
            vertical-align: text-top;
            text-decoration:none;
        }

        h2.visitors a {
            color: antiquewhite;
            width: 50%;
        }

        h2.visitors a:hover , .visitme:hover {
            color: navy;
            text-decoration: none;
            background-color: antiquewhite;
        }

    div.panel {
        /*border: solid purple;*/
        height: 200px;
        padding: 10px;
        border: solid #000030;
        border-radius: 10px;
        border-width: 10px;
    }

    .selected {
        border: solid deepskyblue;
        border-width: 5px;
        border-radius: 10px;
        background-color: #FFFFF0;
        color: #3D2914;
    }