body {
            background-image: url('images/marioland_background.jpg');
            /*background-color:  lightblue;*/
        }

        .main {
            width: 95%;
        }

        #jon {
            font-size: 48px;
            text-align: center;
        }

        #jon:hover {
            color: white;            
            background-color: navy;
        }



        #title {
            font-size: 20px;
        }

        #cv {
            font-size: 12px;
        }

        #instructions {
            font-size: 15px;
            color: green;
            text-align: center;
        }

        .col-md-5 {
            border: solid blue;
            height: 90%;
            padding: 10px;
            /*background-color:white;*/
        }

        .col-md-3 {
            border:solid pink;
            margin-top: 25px;
            margin-left: 10px;
            /*LightSkyBlue*/
            background-color: #87CEFA;
        }

        .thumbnails  .row {
            border: solid yellow; 
            margin: 10px auto;
            padding: 10px;
       }

         .col-md-8 {
            border:solid red;
            padding: 25px;
            margin-top: 25px;
            /*LightSkyBlue*/
            background-color: #87CEFA;
        }

        .col-md-12 {
            border:solid green;
            padding: 15px;
            margin: 30px;
            background-color: white;
        }

        .main-pic-container {
            border: solid black;
            height: 80%;
        }

        .main-pic {
            border: solid purple;
            width: auto;
        }

        .container img {
            width: 100%;
            height: auto;
        }

        .myheading:hover{
            border: solid orange;
        }

        h2.visitors {
            text-align: center;
            vertical-align: text-top;
        }

        h2.visitors a:hover , .visitme:hover {
            color: white;
            background-color: navy;
        }

    div.panel {
        border: solid purple;
        height: 200px;
        padding: 10px;
    }

       
       /*color MintCream #F5FFFA*/