    html body {
        background-image: url('../../../Desktop/piano_b_w.jpg');
    }

    /*all images*/
    .container img {
        width: 100%;
        height: auto;
    }

    .main {
        width: 95%;
    }

    /*name*/
    #jon {
        text-align: center;
    }

    #jon a {
        font-size: 48px;
        text-align: center;
        text-decoration: none;
        color:antiquewhite;
        font-family: 'Droid Sans', serif;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
    }

    #jon:hover {
        color: black;            
        text-decoration: none;
    }

    /*position title*/
    #title {
        font-size: 20px;
    }

    /*contact info*/
    #cv {
        font-size: 15px;
    }

    /*left-hand column*/
    .col-md-8 {
        border: solid antiquewhite;
        border-radius: 10px;
        padding: 25px;
        margin-top: 25px;
    }

    /*active app image*/
    .main-pic {
        border: solid #000030;
        border-radius: 10px;
        border-width: 10px;
        width: auto;
    }

    /*title tab panel window section*/
    .col-md-12 {
        border-radius: 10px;
        padding: 15px;
        margin: 30px;
    }

    /*app title*/
    h2.visitors a {
        text-align: center;
        color: antiquewhite;
        width: 50%;
    }

    /*app title hover*/
    h2.visitors a:hover , .visitme:hover {
        color: navy;
        text-decoration: none;
        background-color: antiquewhite;
        border-radius: 5px;
    }

    /*tab panel windows*/
    div.panel {
        /*border: solid purple;*/
        height: 200px;
        padding: 10px;
        border: solid #000030;
        border-radius: 10px;
        border-width: 10px;
    }

    /*right-hand column*/
    .col-md-3 {
        border:solid antiquewhite;
        border-radius: 10px;
        margin-top: 25px;
        margin-left: 10px;
        color: antiquewhite;
    }

    /*label for thumbnail column*/
    #instructions {
        font-size: 25px;
        text-align: center;
    }

    /*thumbnails*/
    .thumbnails  .row {
        /*border: solid yellow; */
        margin: 20px auto;
        /*padding: 10px;*/
        /*background-color:white;*/
        text-align:center;
   }

    /*selection box*/
    .selected {
        border: solid blue;
        border-width: 7px;
        border-radius: 10px;
        background-color: #FFFFF0;
        color: #3D2914;
    }
